.profile__data-job {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 840px) {
    .profile__data-job {
        font-size: 14px;
        line-height: 17px;
        margin-top: 14px;
        text-align: center;
    }
}